/* Profile Image */

.profile{
  width: 25%;
  border-radius: 5%;
  border: solid 2px black;
}

.primary {
  margin: 20px auto;
}

.contentBox {
  border-bottom: solid 1px black;
}

h1, h2, h3, h4, p {
  text-align: center;
  color: #5052b5;
}

.introSection {
  background-color: #E6E6E6;
}

