/* Profile Image */

.profile{
  width: 25%;
  border-radius: 5%;
}

.primary {
  margin: 20px auto;
}

.contentBox {
  border-bottom: solid 1px black;
}

h2, h3, p {
  text-align: center;
}

.intro {
  background-color: #5052b5;
}