.skillsIconContainer {
  display: flex;
  justify-content: space-evenly;
}

.skillsTextContainer {
  display: flex;
  justify-content: space-evenly;
}

.skillsIcon {
  width: 17%;
  margin-top: 1vw;
}

.skillsName {
  margin-top: 8vh;
  margin-right: 1vw;
}

.skillsText {
  margin-left: 1vw;
  margin-top: 1vh;
}

.firstIconRow {
  margin-left: 0.6vw;
}

.fifthTextRow {
  margin-left: 2vw;
}

.sixthTextRow {
  margin-left: 0.5vw;
}

#two {
  background-color: #F2F3F2;
}

.features {
  background-color: #E6E6E6;
  border-radius: 2%;
}