.skillsIcon {
  width: 17%;
  margin-top: 1vw;
}

.skillsName {
  margin-top: 8vh;
  margin-right: 1vw;
}

.skillsIconContainer {
  display: flex;
  justify-content: space-evenly;
}

.skillsTextContainer {
  display: flex;
  justify-content: space-evenly;
}

.skillsText {
  margin-left: 1vw;
  margin-top: 1vh;
}

.htmlIcon {
  margin-left: 1.6vw;
}

ol {
  display: flex;
  justify-content: space-evenly;
}

/* .content {
  border: 1px solid black;
} */