@font-face {
  font-family: "Pacifico";
  font-display: auto;
  src: local("Pacifico"),
    url(https://fonts.googleapis.com/css?family=Pacifico) format("woff2");
}
html {
  font-size: 62.5%;
  min-height: 100vh;
  background: linear-gradient(#fff, #fdfdfd, #f7f7f7);
}
body {
  font-size: 18px;
  font-size: 1.8rem;
  min-height: 100vh;
  line-height: 1.38105;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #111;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
main {
  text-align: center;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #0070c9;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #wrapper {
    padding: 46px 36px 36px 36px;
  }
}
.intro__profile-pic {
  width: 250px;
  border-radius: 50%;
}
@media only screen and (max-device-width: 413px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .intro__profile-pic {
    width: 160px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .intro__profile-pic {
    width: 200px;
  }
}
.intro__name {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #111;
}
.intro__description {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 16px;
  letter-spacing: 0.016em;
}
.intro__spiel {
  letter-spacing: 0.016em;
}
.intro__location {
  margin-top: 0;
}
.socials__header {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .socials__header {
    margin-bottom: 12px;
  }
}
.socials__links-container {
  display: flex;
  flex-wrap: wrap;
}
.socials__link {
  flex-grow: 1;
  min-width: 50%;
  text-align: center;
  padding: 10px;
}
.socials__link-description {
  padding-left: 10px;
}
.socials__icon {
  font-size: 1.8rem;
  color: #333;
}
